

body {
  font-family: 'lato', sans-serif;

  /* Other CSS rules for the body */
  /* background-color: #faccb5; */
  background-color: #f5a882;
}
.hidden {
  opacity:0;
  filter:blur(5px);
  transform:  translateX(-100%);
  transition: all 1s;
}
.show{
  opacity: 1;
  filter:blur(0px);
  transform:  translateX(0%);
  transition: all 1s;
}
.show2 {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.hide2 {
  opacity: 0;
  transform: translateY(20px); /* Adjust as needed */
}

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

